:root {
  --font-fig: 'Figtree', sans-serif;
  --font-sono: 'Sono Monospace', sans-serif;
  --background: #fceeef;
  --font-color: #000029;
  --primary-dark: #e28413;
  --primary-light: #f4be7c;
  --secondary-dark: #ae1e2c;
  --secondary-light: #f6cbcf;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fceeef;
    --font-color: #000029;
    --primary-dark: #e28413;
    --primary-light: #f4be7c;
    --secondary-dark: #ae1e2c;
    --secondary-light: #f6cbcf;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--background);
  min-height: 100vh;
  color: var(--font-color);
  font-family: var(--font-fig);
}

a {
  color: inherit;
  text-decoration: none;
}

.heading1 {
  font-size: clamp(3.25rem, 2.05288rem + 5.1077vw, 8.4375rem); /* 52-135px */
}

.heading2 {
  color: var(--secondary-dark);
  font-size: clamp(2rem, 1.7115rem + 1.2308vw, 3.25rem); /* 32-52px */
  font-family: var(--font-sono);
  max-width: min(30ch, 80vw);
  margin: 3rem auto;
}

.heading3 {
  font-size: clamp(1.75rem, 1.5481rem + 0.8615vw, 2.625rem); /* 28-42px */
}

li,
p {
  font-size: clamp(1rem, 0.8846rem + 0.4923vw, 1.5rem); /* 16-24px */
  line-height: 1.4;
}

.link {
  font-size: clamp(1.25rem, 1.1058rem + 0.6154vw, 1.875rem); /* 20-30px */
}

.linkHover {
  background: linear-gradient(var(--secondary-light) 0 0) var(--p, 0) /
    var(--p, 0) no-repeat;
  transition: 0.4s, background-position 0s;
}

.linkHover:hover {
  --p: 100%;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
