.name {
  display: flex;
  flex-direction: column;
}

.name span {
  border-bottom: 10px solid var(--primary-dark);
  font-weight: 500;
  padding: 0.5rem 5vw;
}

.textLeft {
  text-align: left;
}

.textRight {
  text-align: right;
}

.linkHome {
  display: inline-block;
  cursor: pointer;
  margin-left: 2rem;
  vertical-align: bottom;
}

.dog {
  display: block;
  width: auto;
  height: clamp(4rem, 2.6364rem + 5.82vw, 7rem);
  transition: all 200ms ease-in-out;
}

.dog:hover {
  transform: rotate(35deg);
}

.nav {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 0.5rem;
}

.navLink {
  padding: 0.5rem 1rem;
}

.navLinkActive {
  background: var(--secondary-light);
}
